@* @model CardModel

@{
    string lastReviewedDesc = Model.LastReviewedOn.HasValue
                ? Model.LastReviewedOn.ToString()
                : "Never";
}

<style>
    .no-hover {
        color: #6c757d; /* Custom text color */
        border-color: #6c757d; /* Custom border color */
    }

        .no-hover:hover {
            color: #6c757d; /* Same text color on hover */
            border-color: #6c757d; /* Same border color on hover */
            background-color: transparent; /* Prevent background color change */
        }

        .no-hover:focus {
            outline: none; /* Remove blue border on focus */
            box-shadow: none; /* Remove any additional shadow on focus */
        }
</style>


<a id="toggleButton" class="" data-bs-toggle="collapse" href="#collapseCardDetails" role="button" aria-expanded="false" aria-controls="collapseCardDetails">
    Card Details <span id="toggleIcon" class="ms-1">&#x25BC;</span> <!-- Down arrow icon initially -->
</a>



<div class="collapse mt-3" id="collapseCardDetails">
    <div class="card card-body">
        
        <div class="row">
            <div class="col-4">
                Added On
            </div>
            <div class="col-4">
                Last Reviewed On
            </div>
            <div class="col-4">
                Last Moved On
            </div>
        </div>
        <div class="row fw-light">
            <div class="col-4">
                @Model.AddedOn
            </div>
            <div class="col-4">
                @lastReviewedDesc
            </div>
            <div class="col-4">
                @Model.LastMovedOn
            </div>
        </div>

    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const toggleButton = document.getElementById('toggleButton');
        const toggleIcon = document.getElementById('toggleIcon');

        toggleButton.addEventListener('click', function () {
            setTimeout(() => {
                if (toggleButton.getAttribute('aria-expanded') === 'true') {
                    toggleIcon.innerHTML = '&#x25B2;'; // Up arrow
                } else {
                    toggleIcon.innerHTML = '&#x25BC;'; // Down arrow
                }
            }, 300); // Small delay to allow collapse to toggle
        });
    });

</script> *@