<div class="d-flex flex-row justify-content-center">
    <div class="col-md-10">
        <img src="~/images/docs/cardMaintenance_listView.png" class="img-fluid bd-example" alt="Responsive image">
    </div>
</div>

<ol type="A" class="mt-4">
    <li class="mb-2">The tabs at the top allow you to navigate through your collection - press a tab to see the cards there</li>
    <li class="mb-2">When there are multiple cards in the tab, they'll be displayed as a list - tap the card link to open it</li>
    <li class="mb-2">Drag cards using the grip icon to change their order</li>
</ol>

<p>
    Open cards in your collection to manage them.
</p>


<div class="d-flex flex-row justify-content-center">
    <div class="col-md-10">
        <img src="~/images/docs/cardMaintenance_maint.png" class="img-fluid bd-example" alt="Responsive image">
    </div>
</div>

<ol type="A" class="mt-4">
    <li class="mb-2">Sending a card back to the queue, resets it's review progress and moves it to the bottom of your queue</li>
    <li class="mb-2">You can move a card to any tab in your collection - moving a card resets the Review Count</li>
    <li class="mb-2">You can permenantly delete a card from your collection</li>
</ol>

<p class="mt-4">
    Cards in the Queue tab have a <i>Move to Daily Tab</i> button instead of a <i>Send Back to Queue</i> button. The Move to Daily Tab button is a quick way to move a card from your queue to the top of your Daily tab.
</p>