<p>
    Each day, you'll review the cards behind the tabs represented by the current day.
</p>
<p>
    For example, if today is <strong>Wednesday, January 1st</strong> you would review the cards behind the following tabs.
</p>

<ul>
    <li>
        <strong>Daily</strong>, because you review these cards every day
    </li>
    <li>
        <strong>Odd</strong>, because the 1st day of the month is an odd number
    </li>
    <li>
        <strong>Wednesday</strong>, because that's the day of the week
    </li>
    <li>
        <strong>1st</strong>, because it's the 1st day of the month
    </li>
</ul>

<p>
    Each day, the app will automatically pull the cards scheduled for review and present them to you.
</p>

<div class="d-flex flex-row justify-content-center">
    <div class="col-md-10">
        <img src="~/images/docs/review.png" class="img-fluid bd-example" alt="Responsive image">
    </div>
</div>

<ol type="A" class="mt-4">
    <li class="mb-2">The tabs at the top of the Review screen contain the cards scheduled for review today - you can navigate to any tab by tapping it</li>
    <li class="mb-2">By default, the text of the passage is hidden, but you can tap the <i>Click to Show passage</i> message to show the text if you need it</li>
    <li class="mb-2">The <i>Review Count</i> keeps track of how many times you were able to easily recal the text of the passage without looking - the Review Count is incremented when you press the <i>Got It</i> button and you can reset the Review Count if you need by tapping it</li>
    <li class="mb-2">When you're ready, press the <i>Promote</i> button to move the card out to a less frequent cadence - for example, promoting a card from the Daily tab, will push it out to the Odd or Even tab</li>
    <li class="mb-2">Pressing the <i>Got It</i> button, will increment the Review Count and take you to the next card in the review</li>
    <li class="mb-2">Pressing the <i>Next</i> button, will take you to the next card in the review without incrementing the Review Count</li>
</ol>

<p>
    You can start a review session by clicking <i>Start Review</i> on the main menu.
</p>
