@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<style>

    .nav-link.active {
        background-color: #e0f2ff; /* Lighter gray */
        color: black; /* Adjust text color if needed */
        border-radius: 5px; /* Rounded corners */
        padding: 8px 12px; /* Optional: Add some padding for spacing */
    }


</style>

<ul class="nav nav-tabs nav-justified mt-3 w-100">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="queueTab" data-bs-toggle="tab" data-bs-target="#queueTabContent" type="button" role="tab" aria-controls="queueTabContent" aria-selected="true">Queue</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="dailyTab" data-bs-toggle="tab" data-bs-target="#dailyTabContent" type="button" role="tab" aria-controls="dailyTabContent">Daily</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="oddTab" data-bs-toggle="tab" data-bs-target="#oddTabContent" type="button" role="tab" aria-controls="oddTabContent">Odd</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="evenTab" data-bs-toggle="tab" data-bs-target="#evenTabContent" type="button" role="tab" aria-controls="evenTabContent">Even</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="weekTab" data-bs-toggle="tab" data-bs-target="#weekTabContent" type="button" role="tab" aria-controls="weeklyTabContent">Week</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="monthTab" data-bs-toggle="tab" data-bs-target="#monthTabContent" type="button" role="tab" aria-controls="monthTabContent">Month</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="queueTabContent" role="tabpanel" aria-labelledby="queueTab">Queue content here</div>
    <div class="tab-pane fade" id="dailyTabContent" role="tabpanel" aria-labelledby="dailyTab">Daily content here</div>
    <div class="tab-pane fade" id="oddTabContent" role="tabpanel" aria-labelledby="oddTab">Odd content here</div>
    <div class="tab-pane fade" id="evenTabContent" role="tabpanel" aria-labelledby="evenTab">Even content here</div>
    <div class="tab-pane fade" id="weekTabContent" role="tabpanel" aria-labelledby="weekTab">
        <nav class="nav py-3" style="border-bottom: 1px solid #DEDEDE;">
            <a class="nav-link active" href="#">Sunday</a>
            <a class="nav-link" href="#">Monday</a>
            <a class="nav-link" href="#">Tuesday</a>
            <a class="nav-link" href="#">Wednesday</a>
            <a class="nav-link" href="#">Thursday</a>
            <a class="nav-link" href="#">Friday</a>
            <a class="nav-link" href="#">Saturday</a>
        </nav>
    </div>
    <div class="tab-pane fade" id="monthTabContent" role="tabpanel" aria-labelledby="monthTab">
        <nav class="nav py-3" style="border-bottom: 1px solid #DEDEDE;">
            <a class="nav-link" href="#">1</a>
            <a class="nav-link" href="#">2</a>
            <a class="nav-link" href="#">3</a>
            <a class="nav-link" href="#">4</a>
            <a class="nav-link" href="#">5</a>
            <a class="nav-link" href="#">6</a>
            <a class="nav-link" href="#">7</a>
            <a class="nav-link" href="#">8</a>
            <a class="nav-link" href="#">9</a>
            <a class="nav-link" href="#">10</a>
            <a class="nav-link" href="#">11</a>
            <a class="nav-link" href="#">12</a>
            <a class="nav-link active" href="#">13</a>
            <a class="nav-link" href="#">14</a>
            <a class="nav-link" href="#">15</a>
            <a class="nav-link" href="#">16</a>
            <a class="nav-link" href="#">17</a>
            <a class="nav-link" href="#">18</a>
            <a class="nav-link" href="#">19</a>
            <a class="nav-link" href="#">20</a>
            <a class="nav-link" href="#">21</a>
            <a class="nav-link" href="#">22</a>
            <a class="nav-link" href="#">23</a>
            <a class="nav-link" href="#">24</a>
            <a class="nav-link" href="#">25</a>
            <a class="nav-link" href="#">26</a>
            <a class="nav-link" href="#">27</a>
            <a class="nav-link" href="#">28</a>
            <a class="nav-link" href="#">29</a>
            <a class="nav-link" href="#">30</a>
            <a class="nav-link" href="#">31</a>
        </nav>
    </div>
</div>
