<div class="container">

    <p class="display-6 mt-4">
        An error occured
    </p>

    <p mt-3>
        Sorry this isn't working like it should. This is still beta software. Thank you for helping to find the features that don't quite work like they should so they can be fixed. The error has been logged and will be looked into.
    </p>


</div>
