@using Humanizer
@using BitPantry.Iota.Common

@model dynamic

@*
    Requires model with the following properties:

    long CardId
    Divider Divider
    string BackgroundColor
*@

<div class="col-4 col-sm-3 col-md-3 mb-3">
    <a asp-action="Move" asp-controller="Card" asp-route-id="@Model.CardId" asp-route-todivider="@Model.Divider" style="text-decoration: none; color: inherit;">
        <div class="card text-center" style="background-color: @Model.BackgroundColor; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); cursor: pointer;">
            <div class="card-body">
                <div class="d-flex justify-content-center gap-4">
                    <h5 class="card-title">@(((BitPantry.Iota.Common.Divider)Model.Divider).Humanize())</h5>
                </div>
            </div>
        </div>
    </a>
</div>