@using BitPantry.Iota.Common
@using Humanizer

@model CardModel


<div class="container">

    <div class="row justify-content-center mb-2">
        <div class="col-6 d-flex align-items-center">
            <a asp-controller="Card" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-primary px-3">
                Cancel
            </a>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <h1 class="font-weight-bold text-end text-md-end mb-0 me-3">@Model.Passage.Address</h1>
        </div>
    </div>

    <div class="row mb-2 border-top"></div>

    <div class="mt-3">
        <partial name="_CardInfoTablePartial" model='@Model' />
    </div>

    <h4 class="mb-5">Select the tab to move this card to ...</h4>

    <!-- QUEUE -->

    @if(Model.Tab != Tab.Queue)
    {
        <div class="row mb-4">
            <partial name="_SelectNewCardTabPartial" model='new { CardId = Model.Id, Tab = Tab.Queue, BackgroundColor = "var(--io-set-color-queue)" }' />
        </div>
    }

    <!-- DAILY -->
    @if (Model.Tab != Tab.Daily)
    {
        <div class="row mb-4">
            <partial name="_SelectNewCardTabPartial" model='new { CardId = Model.Id, Tab = Tab.Daily, BackgroundColor = "var(--io-set-color-daily)" }' />
        </div>
    }

    <!-- ODD / EVEN -->
    
    <div class="row mb-4">

        @foreach (var tab in new Tab[] { Tab.Odd, Tab.Even }.Where(d => d != Model.Tab))
        {
            <partial name="_SelectNewCardTabPartial" model='new { CardId = Model.Id, Tab = tab, BackgroundColor = "var(--io-set-color-evenOdd)" }' />
        }

    </div>

    <!-- DAYS OF THE WEEK -->

    <div class="row mb-4">

        @foreach (var tab in new Tab[] { Tab.Sunday, Tab.Monday, Tab.Tuesday, Tab.Wednesday, Tab.Thursday, Tab.Friday, Tab.Saturday }.Where(d => d != Model.Tab))
        {
            <partial name="_SelectNewCardTabPartial" model='new { CardId = Model.Id, Tab = tab, BackgroundColor = "var(--io-set-color-dow)" }' />
        }

    </div>

    <!-- DAYS OF THE MONTH -->

    <div class="row mb-4">

        @{
            var days = new List<Tab>();
            for (var i = Tab.Day1; i <= Tab.Day31; i++)
                days.Add(i);
        }

        @foreach (var tab in days.Where(d => d != Model.Tab))
        {
            <partial name="_SelectNewCardTabPartial" model='new { CardId = Model.Id, Tab = tab, BackgroundColor = "var(--io-set-color-dom)" }' />
        }

    </div>

</div>