

<div class="d-flex justify-content-center mt-4">

    <div class="col-xl-8 col-lg-10 col-md-12">

        <p class="display-6">
            Quick Start Guide
        </p>

        <ul>
            <li>Navigate to the <i>Cards</i> menu and click <i>New</i></li>
            <li>Enter a scripture reference and click <i>Go</i></li>
            <li>Click the <i>Create Card</i> button and select <i>Add to Daily Tab</i></li>
            <li>Click <i>Start Review</i></li>
            <li>Use the <i>Next</i> button to go to the next card in the review</li>
            <li>Use the <i>Got It</i> button to increment the card's review count and go to the next card in the review</li>
        </ul>


    </div>

</div>