

<div class="d-flex justify-content-center mt-4">

    <div class="col-xl-8 col-lg-10 col-md-12">

        <p>
            Learn and review all of your memory verses over the course of the month in just 15 minutes a day with the Iota Scripture Memory app.
        </p>

    </div>

</div>