@{
    ViewData["Title"] = "Home Page";
}

<ul class="nav nav-tabs nav-justified mt-3 w-100">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Queue</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Daily</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Odd</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Even</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Week</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Month</a>
    </li>
</ul>
