@model HomeModel

<div class="mt-4">

    @if (Model.CardCountToReviewToday > 0)
    {
        <div class="display-6 mt-5">
            @Model.CardCountToReviewToday cards to review today
        </div>
        <div class="d-inline-flex mt-4">
            <a class="btn btn-success" asp-controller="Review" data-testid="home.index.startReview" asp-action="Index" role="button">Review Today's Cards</a>
            <a class="btn btn-primary ms-3" asp-controller="Card" data-testid="home.index.createCardOne" asp-action="New" role="button">Create Cards</a>
        </div>
    }
    else if(!Model.HasCards)
    {
        <div class="display-6 mt-5">
            You haven't created any cards yet
        </div>
        <div class="d-inline-flex mt-4">
            <a class="btn btn-success" asp-controller="Card" data-testid="home.index.createCardsTwo" asp-action="New">Create Cards</a>
            <a class="btn btn-primary ms-3" asp-controller="Home" data-testid="home.index.readGettingStarted" asp-action="GetStarted">Read Getting Started</a>
        </div>
    }

</div>

