@model HomeModel

<div class="container mt-4">

    @if (Model.CardCountToReviewToday > 0)
    {
        <div class="display-6 mt-5">
            @Model.CardCountToReviewToday cards to review today
        </div>
        <div class="d-inline-flex mt-4">
            <a class="btn btn-success" asp-controller="Review" asp-action="Index" role="button">Review Today's Cards</a>
            <a class="btn btn-primary ms-3" asp-controller="Card" asp-action="Create" role="button">Add Cards</a>
        </div>
    }
    else if(!Model.HasCards)
    {
        <div class="display-6 mt-5">
            You haven't created any cards yet
        </div>
        <div class="d-inline-flex mt-4">
            <a class="btn btn-success" asp-controller="Card" asp-action="Create">Create Cards</a>
            <a class="btn btn-primary ms-3" asp-controller="Home" asp-action="GetStarted">Read Getting Started</a>
        </div>
    }

</div>

