@model HomeModel

<div class="mt-4">

    @if (Model.CardCountToReviewToday > 0)
    {
        <div class="display-6 mt-5">
            @Model.CardCountToReviewToday cards to review today
        </div>
        <div class="d-inline-flex mt-4">
            <a class="btn btn-success" asp-controller="Review" data-testid="home.index.startReview" asp-action="Index" role="button">Review Today's Cards</a>
            <a class="btn btn-primary ms-3" asp-controller="Card" data-testid="home.index.createCardOne" asp-action="New" role="button">Create Cards</a>
        </div>
    }
    else if(!Model.HasCards)
    {
        <div class="display-6 mt-5">
            You haven't created any cards yet
        </div>
        <div class="d-inline-flex mt-4">
            <a class="btn btn-success" asp-controller="Card" data-testid="home.index.createCardsTwo" asp-action="New">Create Cards</a>
            <a class="btn btn-primary ms-3" asp-controller="Home" data-testid="home.index.readGettingStarted" asp-action="GetStarted">Read Getting Started</a>
        </div>
    }

    <style>
        .copy-link {
            --height: 36px;
            display: flex;
            max-width: 350px;
        }

        .copy-link-input {
            flex-grow: 1;
            padding: 0 8px;
            font-size: 14px;
            border: 1px solid #cccccc;
            border-right: none;
            outline: none;
        }

            .copy-link-input:hover {
                background: #eeeeee;
            }

        .copy-link-button {
            flex-shrink: 0;
            width: var(--height);
            height: var(--height);
            display: flex;
            align-items: center;
            justify-content: center;
            background: #dddddd;
            color: #333333;
            outline: none;
            border: 1px solid #cccccc;
            cursor: pointer;
        }

            .copy-link-button:hover {
                background: #cccccc;
            }

    </style>

@*     <p class="lead mt-5">Share Tabs with your friends - use the link below.</p>

    <div class="copy-link">
        <input type="text" disabled class="copy-link-input" value="www.tabsmemory.com" readonly>
        <button type="button" class="copy-link-button">
            <span class="material-icons">content_copy</span>
        </button>
    </div> *@

</div>

<script>
        document.querySelectorAll(".copy-link").forEach((copyLinkParent) => {
      const inputField = copyLinkParent.querySelector(".copy-link-input");
      const copyButton = copyLinkParent.querySelector(".copy-link-button");
      const text = inputField.value;

      inputField.addEventListener("focus", () => inputField.select());

      copyButton.addEventListener("click", () => {
        inputField.select();
        navigator.clipboard.writeText(text);

        inputField.value = text;
      });
    });

</script>

