@using BitPantry.Tabs.Common



<div class="d-flex justify-content-center mt-4">

    <div class="col-xl-8 col-lg-10 col-md-12">

        <partial name="_docs_noteCardsAndDividerTabs" />

        <p class="display-6">
            Adding New Cards
        </p>

        <p>
            The first thing you'll want to do is create new cards for the passages of scripture you want to memorize. From the main menu select Cards > New.
        </p>

        <div class="mt-4">
            <partial name="_docs_addingNewCards" />
        </div>

        <a class="btn btn-secondary btn-sm mt-3" href="@(Url.Action<BitPantry.Tabs.Web.Controllers.CardController>(c => c.New(null, 0)))">Add Cards Now</a>

        <p class="display-6 mt-3">Reviewing Cards</p>

        <div class="mt-4">
             <partial name="_docs_reviewingCards" />
        </div>

        <a class="btn btn-secondary btn-sm mt-3" href="@(Url.Action<BitPantry.Tabs.Web.Controllers.ReviewController>(c => c.Index()))">Start Review Now</a>

        <p class="display-6 mt-3">
            Managing My Cards
        </p>

        <p>
            Select Cards > View All from the main menu to see all the cards in your collection.
        </p>

        <div class="mt-4">
            <partial name="_docs_managingMyCards" />
        </div>

        <a class="btn btn-secondary btn-sm mt-3" href="@(Url.Action<BitPantry.Tabs.Web.Controllers.CollectionController>(c => c.Index()))">Manage My Cards Now</a>

    </div>
</div>





