
<style>
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
    }
</style>

<div class="d-flex justify-content-center mt-4">

    <div class="col-xl-8 col-lg-10 col-md-12">

        <p class="display-6">
            Quick Start Guide
        </p>

        <p>
            Use the steps below to get started.
        </p>

        <p class="lead">
            Create Your First Card
        </p>

        <ul>
            <li>Navigate to the <i>Cards</i> menu and click <i>New</i></li>
            <li>Enter the reference of a passage you want to work on and click <i>Go</i></li>
            <li>Click the <i>Create Card</i> button and select <i>Add to Daily Tab</i></li>
            <li>Once the card has been added, click <i>Start Review</i> to begin memorizing your cards</li>
        </ul>

        <p>
            Adding cards to the Daily tab ensure's you're able to work on those every day. If you want to save the card, but aren't ready to start on it yet, add it to the Queue.
        </p>

        <p class="lead">
            Review Your Cards
        </p>

        <p>
            Each day, when you start a review, the app will pull the right cards from your collection for your to work on.
        </p>

        <p>
            Select <i>Start Review</i> from the menu to begin.
        </p>

        <ul>
            <li>Use the <i>Next</i> button to go to the next card in the review</li>
            <li>Use the <i>Got It</i> button to increment the card's review count and go to the next card in the review - the review count helps you see how many times you've successfully reviewed your card</li>
            <li>When you're ready, use the <i>Promote</i> button to move the card out to the next tab</li>
        </ul>

        <p class="lead">
            Next Steps
        </p>

        <p>
            That's it! You should know enough to get started memorizing right now.
        </p>

        <p>
            Next, create more cards and review them at least once a day. Promote cards to spread out the review frequency and to make room to work on new ones.
        </p>

        <p>
            If you need more help, look for the help icons throughout the application. 
        </p>

        <span class="material-symbols-outlined pb-3">help</span>

        <p>
            You can also read the <i>Full Documentation</i> to see all the help in one place.
        </p>

        <a href="/card/new" class="btn btn-secondary">Create Cards</a>
        <a href="/home/documentation" class="btn btn-secondary">Read Full Documentation</a>
        

    </div>

</div>