
<div class="mt-5">
    <div class="display-6">
        You're all done!
    </div>
    <div class="d-inline-flex mt-4">
        <a asp-action="Index" data-testid="review.done.btnRestart" asp-controller="Review" class="btn btn-success">Restart Review</a>
        <a asp-action="New" data-testid="review.done.btnCreateCards" asp-controller="Card" class="btn btn-primary ms-3">Create Cards</a>
    </div>
</div>