
<div class="container">
    <p class="mt-5 fs-2">
        You don't have any cards to review.
    </p>
    <a asp-action="Create" asp-controller="Card" class="btn btn-primary mt-3">Create a Card</a>
</div>