
<div class="container mt-5">
    <div class="display-6">
        You don't have any cards to review
    </div>
    <div class="mt-4">
        <a asp-action="Create" asp-controller="Card" class="btn btn-success">Create Cards</a>
    </div>
</div>