:root {
    --io-set-color-queue: var(--bs-gray-200);
    --io-set-color-daily: #a9d8f1;
    --io-set-color-evenOdd: #d6f3e2;
    --io-set-color-dow: #d8d6f3;
    --io-set-color-dom: #f3eed6;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@media (max-width: 400px) {
    body {
        zoom: 0.80;  
    }
}

@media (max-width:340px) {
    body {
        zoom: 0.75;  
    }
}