
<div class="mt-5">
    <div data-testid="review.noCards.pnlNoCardsMessage" class="display-6">
        You don't have any cards to review
    </div>
    <div class="mt-4">
        <a asp-action="New" asp-controller="Card" class="btn btn-success" data-testid="review.noCards.btnCreateCards">Create Cards</a>
    </div>
</div>