<p class="mt-4">
    Enter the address of the passage you want to create a card for and select a translation from the drop down. Once the passage is loaded, you can view the passage
    in different translations by changing the translation dropdown.
</p>

<div class="d-flex flex-row justify-content-center">
    <div class="col-md-10">
        <img src="~/images/docs/createcard.png" class="img-fluid bd-example" alt="Responsive image">
    </div>
</div>

<ol type="A" class="mt-4">
    <li class="mb-2">Enter the address of the passage you want to work on and press the Go button</li>
    <li class="mb-2">You can change the translation using the translation drop down</li>
    <li class="mb-2">The passage you've searched for will be displayed in the center of the screen for review - you can still use the translation drop down to adjust the translation</li>
    <li class="mb-2">When you're ready, click <i>Create Card</i> to create a new card in either the Daily or Queue tab</li>
</ol>