@model SetIndexModel

<div>

    <div class="container">

        <div class="row justify-content-center mb-2">
            <div class="col-auto">
                <h1>Cards</h1>
            </div>
        </div>

        <div class="row border-top mb-4">
        </div>

        @{
            string cardBackurl = Url.Action("Index", "Set");
        }

        <!-- QUEUE -->

        @if (Model.QueueCardCount > 0)
        {
            <div class="row mb-4">
                <partial name="_SetCardCollectionPartial" model='new { BackgroundColor = "var(--io-set-color-queue)", Title = "Queue", Count = Model.QueueCardCount, Action = "Queue" }' />
            </div>
        }

        <!-- DAILY -->

        @if (Model.Daily != null)
        { 
            <div class="row mb-4">
                <partial name="_SetCardSinglePartial" model='new { BackgroundColor = "var(--io-set-color-daily)", Title = "Daily", Card = Model.Daily, CardBackUrl = cardBackurl }' /> 
            </div>
        }

        <!-- ODD AND EVEN -->

        @if (Model.ShowOddEvenSection)
        { 
            <div class="row mb-4">
                @if (Model.Even != null) { <partial name="_SetCardSinglePartial" model='new { BackgroundColor = "var(--io-set-color-evenOdd)", Title = "Even", Card = Model.Even, CardBackUrl = cardBackurl }' /> }
                @if (Model.Odd != null) { <partial name="_SetCardSinglePartial" model='new { BackgroundColor = "var(--io-set-color-evenOdd)", Title = "Odd", Card = Model.Odd, CardBackUrl = cardBackurl }' /> }
            </div>
        }

        <!-- DAYS OF THE WEEK -->

        @if(Model.ShowDaysOfTheWeekSection)
        {
            <div class="row mb-4">
                @if (Model.Sunday != null) { <partial name="_SetCardSinglePartial" model='new { BackgroundColor = "var(--io-set-color-dow)", Title = "Sunday", Card = Model.Sunday, CardBackUrl = cardBackurl }' /> }
                @if (Model.Monday != null) { <partial name="_SetCardSinglePartial" model='new { BackgroundColor = "var(--io-set-color-dow)", Title = "Monday", Card = Model.Monday, CardBackUrl = cardBackurl }' /> }
                @if (Model.Tuesday != null) { <partial name="_SetCardSinglePartial" model='new { BackgroundColor = "var(--io-set-color-dow)", Title = "Tuesday", Card = Model.Tuesday, CardBackUrl = cardBackurl }' /> }
                @if (Model.Wednesday != null) { <partial name="_SetCardSinglePartial" model='new { BackgroundColor = "var(--io-set-color-dow)", Title = "Wednesday", Card = Model.Wednesday, CardBackUrl = cardBackurl }' /> }
                @if (Model.Thursday != null) { <partial name="_SetCardSinglePartial" model='new { BackgroundColor = "var(--io-set-color-dow)", Title = "Thursday", Card = Model.Thursday, CardBackUrl = cardBackurl }' /> }
                @if (Model.Friday != null) { <partial name="_SetCardSinglePartial" model='new { BackgroundColor = "var(--io-set-color-dow)", Title = "Friday", Card = Model.Friday, CardBackUrl = cardBackurl }' /> }
                @if (Model.Saturday != null) { <partial name="_SetCardSinglePartial" model='new { BackgroundColor = "var(--io-set-color-dow)", Title = "Saturday", Card = Model.Saturday, CardBackUrl = cardBackurl }' /> }
            </div>
        }


        <!-- DAYS OF THE MONTH -->

        @if (Model.DaysOfTheMonthCardCount > 0)
        {
            <div class="row">
                <partial name="_SetCardCollectionPartial" model='new { BackgroundColor = "var(--io-set-color-dom)", Title = "Month", Count = Model.DaysOfTheMonthCardCount, Action = "Month" }' />
            </div>
        }

    </div>

</div>