@model Dictionary<int, int>

<div class="container">

    <div class="row justify-content-center mb-2">
        <div class="col-6 d-flex align-items-center">
            <a asp-controller="Set" asp-action="Index" class="btn btn-primary px-3">
                Back
            </a>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <h1 class="font-weight-bold text-end text-md-end mb-0 me-3">Month</h1>
        </div>
    </div>

    <div class="row border-top mb-4">
    </div>

    <div class="row justify-content-center">

        @{ var days = Model.Where(d => d.Value > 0).ToList(); }

        @foreach (var day in days)
        {
            <partial name="_SetCardCollectionPartial" model='new { BackgroundColor = "#f3eed6", Title = $"Day {day.Key}", Count = day.Value, Action = "Day", RouteId = day.Key }' />
        }

    </div>

</div>
